<style>
  .liveshow2,
  .liveshow1,
  .album1,
  .album2,
  .category1,
  .category2,
  .soldMonthly1,
  .soldMonthly2,
  .contest1,
  .contest2 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  h1.title {
    font-size: 3vw;
    margin-bottom: 30px;
  }

  .cart-big {
    border-radius: 20px;
    background-color: rgba(221, 220, 220, 0.3);
    width: fit-content;
  }
  .cart-small {
    background-color: rgba(221, 220, 220, 0.3);
    width: fit-content;
    border-radius: 15px;
  }
  .cart-big:hover,
  .cart-small:hover {
    transition: 0.2s;
    background-color: rgba(225, 225, 225, 0.6);
    box-shadow: 0px 0px 25px rgb(23, 203, 173);
  }
  .homeContent {
    background-image: linear-gradient(
      45deg,
      rgb(253, 158, 255),
      rgb(155, 237, 255)
    );
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .carousel {
    justify-content: center;
  }
  h3.Title {
    font-size: 1rem;
    margin-top: 10px;
    font-weight: 700;
  }
  h3.Title:hover {
    color: rgb(180, 15, 15);
  }
  .revealOfHomePage.lsctsm {
    position: relative;
    opacity: 0;
    transform: translateX(300px);
    transition: all 1s ease-in;
  }
  .revealOfHomePage.lsctsm.active {
    opacity: 1;
    transform: translateX(0);
  }
  .revealOfHomePage.alca {
    position: relative;
    opacity: 0;
    transform: translateX(-300px);
    transition: all 1s ease-in;
  }
  .revealOfHomePage.alca.active {
    opacity: 1;
    transform: translateX(0);
  }
  .Btn-addToCart {
    border: none;
    border-radius: 15px;
    background-color: rgb(255, 62, 62);
    padding: 10px 15px 10px 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 450;
    margin: 0 0 10px 0;
  }
  .Btn-addToCart:hover {
    box-shadow: 0 0 5px rgb(255, 0, 0);
    font-weight: 500;
  }
</style>
<div class="container-fluid homeContent" ng-controller="home">
  <div class="carousel row d-sm-flex d-none">
    <!-- Carousel -->
    <div id="demo" class="carousel slide col-md-10" data-bs-ride="carousel">
      <!-- The slideshow/carousel -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="image/e-product/carousel/maylangthang.jpg"
            alt="Los Angeles"
            class="d-block"
            style="width: 100%"
          />
        </div>
        <div class="carousel-item">
          <img
            src="image/e-product/carousel/souloftheforest.jpg"
            alt="Chicago"
            class="d-block"
            style="width: 100%"
          />
        </div>
        <div class="carousel-item">
          <img
            src="image/e-product/carousel/okComputer.png"
            alt="New York"
            class="d-block"
            style="width: 100%"
          />
        </div>
      </div>

      <!-- Left and right controls/icons -->
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#demo"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon"></span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#demo"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon"></span>
      </button>
    </div>
  </div>

  <div class="row">
    <div class="left-content col-12 col-xl-8 px-3">
      <div
        class="album revealOfHomePage alca row py-3"
        style="margin-top: 80px"
      >
        <h1 class="title">Album</h1>
        <div class="album1 col-6">
          <div class="cart-big pb-4">
            <img
              ng-src="{{listOfAlbum[0].image}}"
              alt=""
              width="1920px"
              class="img-fluid"
              data-bs-toggle="modal"
              data-bs-target="#myModal1"
            />
            <h3 class="Title" data-bs-toggle="modal" data-bs-target="#myModal1">
              {{listOfAlbum[0].name}}
            </h3>
            <h6>{{listOfAlbum[0].category}}</h6>
            <br />
            <h5>${{listOfAlbum[0].price}}</h5>
            <input
              type="button"
              value="Add to cart"
              ng-click="addAlbumToCart(0)"
              class="Btn-addToCart"
            />
          </div>
        </div>
        <div class="album2 col-6">
          <div class="cart-big pb-4">
            <img
              ng-src="{{listOfAlbum[1].image}}"
              alt=""
              width="1920px"
              class="img-fluid"
              data-bs-toggle="modal"
              data-bs-target="#myModal2"
            />
            <h3 class="Title" data-bs-toggle="modal" data-bs-target="#myModal2">
              {{listOfAlbum[1].name}}
            </h3>
            <h6>{{listOfAlbum[1].category}}</h6>
            <br />
            <h5>${{listOfAlbum[1].price}}</h5>
            <input
              type="button"
              value="Add to cart"
              ng-click="addAlbumToCart(1)"
              class="Btn-addToCart"
            />
          </div>
        </div>
      </div>

      <div
        class="category revealOfHomePage alca row py-3"
        style="margin: 250px 0 0 0"
      >
        <h1 class="title">Category</h1>
        <div class="category1 col-6">
          <div class="cart-big pb-4">
            <img
              ng-src="{{listOfCategory[0].image}}"
              alt=""
              width="1920px"
              class="img-fluid"
              data-bs-toggle="modal"
              data-bs-target="#myModal3"
            />
            <h3 class="Title" data-bs-toggle="modal" data-bs-target="#myModal3">
              {{listOfCategory[0].name}}
            </h3>
            <h6>{{listOfCategory[0].category}}</h6>
            <br />
            <h5>${{listOfCategory[0].price}}</h5>
            <input
              type="button"
              value="Add to cart"
              ng-click="addCategoryToCart(0)"
              class="Btn-addToCart"
            />
          </div>
        </div>
        <div class="category2 col-6">
          <div class="cart-big pb-4">
            <img
              ng-src="{{listOfCategory[1].image}}"
              alt=""
              width="1920px"
              class="img-fluid"
              data-bs-toggle="modal"
              data-bs-target="#myModal4"
            />
            <h3 class="Title" data-bs-toggle="modal" data-bs-target="#myModal4">
              {{listOfCategory[1].name}}
            </h3>
            <h6>{{listOfCategory[1].category}}</h6>
            <br />
            <h5>${{listOfCategory[1].price}}</h5>
            <input
              type="button"
              value="Add to cart"
              ng-click="addCategoryToCart(1)"
              class="Btn-addToCart"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="right-content col-12 col-xl-4 px-3">
      <div class="liveShows revealOfHomePage lsctsm" style="margin-top: 250px">
        <div class="liveshow row py-3">
          <h1 class="title">Live Shows</h1>
          <div class="liveshow1 col-6">
            <div class="cart-small pb-4">
              <img
                ng-src="{{listOfLiveshow[0].image}}"
                alt=""
                width="1920px"
                class="img-fluid"
                data-bs-toggle="modal"
                data-bs-target="#myModal5"
              />
              <h3
                class="Title"
                data-bs-toggle="modal"
                data-bs-target="#myModal5"
              >
                {{listOfLiveshow[0].name}}
              </h3>
              <h6>{{listOfLiveshow[0].category}}</h6>
              <h5>Year: {{listOfLiveshow[0].year}}</h5>
            </div>
          </div>
          <div class="liveshow2 col-6">
            <div class="cart-small pb-4">
              <img
                ng-src="{{listOfLiveshow[1].image}}"
                alt=""
                width="1920px"
                class="img-fluid"
                data-bs-toggle="modal"
                data-bs-target="#myModal6"
              />
              <h3
                class="Title"
                data-bs-toggle="modal"
                data-bs-target="#myModal6"
              >
                {{listOfLiveshow[1].name}}
              </h3>
              <h6>{{listOfLiveshow[1].category}}</h6>
              <h5>Year: {{listOfLiveshow[1].year}}</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="contest my-5">
        <div
          class="contest revealOfHomePage lsctsm row py-3"
          style="margin-top: 200px"
        >
          <h1 class="title">Contest</h1>
          <div class="contest1 col-6">
            <div class="cart-small pb-4">
              <img
                ng-src="{{listOfContest[0].image}}"
                alt=""
                width="1920px"
                class="img-fluid"
                data-bs-toggle="modal"
                data-bs-target="#myModal7"
              />
              <h3
                class="Title"
                data-bs-toggle="modal"
                data-bs-target="#myModal7"
              >
                {{listOfContest[0].name}}
              </h3>
              <h6>{{listOfContest[0].category}}</h6>
              <h5>Year: {{listOfContest[0].year}}</h5>
            </div>
          </div>
          <div class="contest2 col-6">
            <div class="cart-small pb-4">
              <img
                ng-src="{{listOfContest[1].image}}"
                alt=""
                width="1920px"
                class="img-fluid"
                data-bs-toggle="modal"
                data-bs-target="#myModal8"
              />
              <h3
                class="Title"
                data-bs-toggle="modal"
                data-bs-target="#myModal8"
              >
                {{listOfContest[1].name}}
              </h3>
              <h6>{{listOfContest[1].category}}</h6>
              <h5>Year: {{listOfContest[1].year}}</h5>
            </div>
          </div>
        </div>
      </div>
      <div
        class="soldMonthly revealOfHomePage lsctsm"
        style="margin: 200px 0 300px 0"
      >
        <div class="soldMonthly row py-3">
          <h1 class="title">Sold Monthly</h1>
          <div class="soldMonthly1 col-6">
            <div class="cart-small pb-4">
              <img
                ng-src="{{listOfSoldMonthly[0].image}}"
                alt=""
                width="1920px"
                class="img-fluid"
                data-bs-toggle="modal"
                data-bs-target="#myModal9"
              />
              <h3
                class="Title"
                data-bs-toggle="modal"
                data-bs-target="#myModal9"
              >
                {{listOfSoldMonthly[0].name}}
              </h3>
              <h6>{{listOfSoldMonthly[0].category}}</h6>
              <h5>Sell {{listOfSoldMonthly[0].soldPerMonth}} per month</h5>
            </div>
          </div>
          <div class="soldMonthly2 col-6">
            <div
              class="cart-small pb-4"
              data-bs-toggle="modal"
              data-bs-target="#myModal10"
            >
              <img
                ng-src="{{listOfSoldMonthly[1].image}}"
                alt=""
                width="1920px"
                class="img-fluid"
                data-bs-toggle="modal"
                data-bs-target="#myModal10"
              />
              <h3
                class="Title"
                data-bs-toggle="modal"
                data-bs-target="#myModal10"
              >
                {{listOfSoldMonthly[1].name}}
              </h3>
              <h6>{{listOfSoldMonthly[1].category}}</h6>
              <h5>Sell {{listOfSoldMonthly[1].soldPerMonth}} per month</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modalPlace">
  <!-- MODAL -->
  <!-- modal album 1 -->
  <div class="modal fade" id="myModal1">
    <div
      class="modal-dialog modal-dialog-centered modal-xl modal-fullscreen-sm-down modal-dialog-scrollable"
      style="width: 600px"
    >
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Information</h4>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
          ></button>
        </div>

        <!-- Modal body -->
        <div class="modal-body row text-start">
          <div class="img col-md-4 col-12">
            <img
              ng-src="{{listOfAlbum[0].image}}"
              alt=""
              width="1920px"
              class="img-fluid"
            />
          </div>
          <div class="describe col-md-8 col-12">
            <p>
              {{listOfAlbum[0].name}} <br />
              <b>
                {{listOfAlbum[0].category}} | {{listOfAlbum[0].type}} |
                {{listOfAlbum[0].year}} <br />
              </b>
              {{listOfAlbum[0].describe}}
            </p>
          </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- modal album 2 -->
  <div class="modal fade" id="myModal2">
    <div
      class="modal-dialog modal-dialog-centered modal-xl modal-fullscreen-sm-down modal-dialog-scrollable"
      style="width: 600px"
    >
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Information</h4>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
          ></button>
        </div>

        <!-- Modal body -->
        <div class="modal-body row text-start">
          <div class="img col-md-4 col-12">
            <img
              ng-src="{{listOfAlbum[1].image}}"
              alt=""
              width="1920px"
              class="img-fluid"
            />
          </div>
          <div class="describe col-md-8 col-12">
            <p>
              {{listOfAlbum[1].name}} <br />
              <b>
                {{listOfAlbum[1].category}} | {{listOfAlbum[1].type}} |
                {{listOfAlbum[1].year}} <br />
              </b>
              {{listOfAlbum[1].describe}}
            </p>
          </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- modal album 3 -->
  <div class="modal fade" id="myModal3">
    <div
      class="modal-dialog modal-dialog-centered modal-xl modal-fullscreen-sm-down modal-dialog-scrollable"
      style="width: 600px"
    >
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Information</h4>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
          ></button>
        </div>

        <!-- Modal body -->
        <div class="modal-body row text-start">
          <div class="img col-md-4 col-12">
            <img
              ng-src="{{listOfCategory[0].image}}"
              alt=""
              width="1920px"
              class="img-fluid"
            />
          </div>
          <div class="describe col-md-8 col-12">
            <p>
              {{listOfCategory[0].name}} <br />
              <b>
                {{listOfCategory[0].category}} | {{listOfCategory[0].type}} |
                {{listOfCategory[0].year}} <br />
              </b>
              {{listOfCategory[0].describe}}
            </p>
          </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- modal album 4 -->
  <div class="modal fade" id="myModal4">
    <div
      class="modal-dialog modal-dialog-centered modal-xl modal-fullscreen-sm-down modal-dialog-scrollable"
      style="width: 600px"
    >
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Information</h4>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
          ></button>
        </div>

        <!-- Modal body -->
        <div class="modal-body row text-start">
          <div class="img col-md-4 col-12">
            <img
              ng-src="{{listOfCategory[1].image}}"
              alt=""
              width="1920px"
              class="img-fluid"
            />
          </div>
          <div class="describe col-md-8 col-12">
            <p>
              {{listOfCategory[1].name}} <br />
              <b>
                {{listOfCategory[1].category}} | {{listOfCategory[1].type}} |
                {{listOfCategory[1].year}} <br />
              </b>
              {{listOfCategory[1].describe}}
            </p>
          </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- modal album 5 -->
  <div class="modal fade" id="myModal5">
    <div
      class="modal-dialog modal-dialog-centered modal-xl modal-fullscreen-sm-down modal-dialog-scrollable"
      style="width: 600px"
    >
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Information</h4>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
          ></button>
        </div>

        <!-- Modal body -->
        <div class="modal-body row text-start">
          <div class="img col-md-4 col-12">
            <img
              ng-src="{{listOfLiveshow[0].image}}"
              alt=""
              width="1920px"
              class="img-fluid"
            />
          </div>
          <div class="describe col-md-8 col-12">
            <p>
              {{listOfLiveshow[0].name}} <br />
              <b>
                {{listOfLiveshow[0].category}} | {{listOfLiveshow[0].type}} |
                {{listOfLiveshow[0].year}} <br />
              </b>
              {{listOfLiveshow[0].describe}}
            </p>
          </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- modal album 6 -->
  <div class="modal fade" id="myModal6">
    <div
      class="modal-dialog modal-dialog-centered modal-xl modal-fullscreen-sm-down modal-dialog-scrollable"
      style="width: 600px"
    >
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Information</h4>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
          ></button>
        </div>

        <!-- Modal body -->
        <div class="modal-body row text-start">
          <div class="img col-md-4 col-12">
            <img
              ng-src="{{listOfLiveshow[1].image}}"
              alt=""
              width="1920px"
              class="img-fluid"
            />
          </div>
          <div class="describe col-md-8 col-12">
            <p>
              {{listOfLiveshow[1].name}} <br />
              <b>
                {{listOfLiveshow[1].category}} | {{listOfLiveshow[1].type}} |
                {{listOfLiveshow[1].year}} <br />
              </b>
              {{listOfLiveshow[1].describe}}
            </p>
          </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- modal album 7 -->
  <div class="modal fade" id="myModal7">
    <div
      class="modal-dialog modal-dialog-centered modal-xl modal-fullscreen-sm-down modal-dialog-scrollable"
      style="width: 600px"
    >
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Information</h4>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
          ></button>
        </div>

        <!-- Modal body -->
        <div class="modal-body row text-start">
          <div class="img col-md-4 col-12">
            <img
              ng-src="{{listOfContest[0].image}}"
              alt=""
              width="1920px"
              class="img-fluid"
            />
          </div>
          <div class="describe col-md-8 col-12">
            <p>
              {{listOfContest[0].name}} <br />
              <b>
                {{listOfContest[0].category}} | {{listOfContest[0].type}} |
                {{listOfContest[0].year}} <br />
              </b>
              {{listOfContest[0].describe}}
            </p>
          </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- modal album 8 -->
  <div class="modal fade" id="myModal8">
    <div
      class="modal-dialog modal-dialog-centered modal-xl modal-fullscreen-sm-down modal-dialog-scrollable"
      style="width: 600px"
    >
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Information</h4>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
          ></button>
        </div>

        <!-- Modal body -->
        <div class="modal-body row text-start">
          <div class="img col-md-4 col-12">
            <img
              ng-src="{{listOfContest[1].image}}"
              alt=""
              width="1920px"
              class="img-fluid"
            />
          </div>
          <div class="describe col-md-8 col-12">
            <p>
              {{listOfContest[1].name}} <br />
              <b>
                {{listOfContest[1].category}} | {{listOfContest[1].type}} |
                {{listOfContest[1].year}} <br />
              </b>
              {{listOfContest[1].describe}}
            </p>
          </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- modal album 9 -->
  <div class="modal fade" id="myModal9">
    <div
      class="modal-dialog modal-dialog-centered modal-xl modal-fullscreen-sm-down modal-dialog-scrollable"
      style="width: 600px"
    >
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Information</h4>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
          ></button>
        </div>

        <!-- Modal body -->
        <div class="modal-body row text-start">
          <div class="img col-md-4 col-12">
            <img
              ng-src="{{listOfSoldMonthly[0].image}}"
              alt=""
              width="1920px"
              class="img-fluid"
            />
          </div>
          <div class="describe col-md-8 col-12">
            <p>
              {{listOfSoldMonthly[0].name}} <br />
              <b>
                {{listOfSoldMonthly[0].category}} |
                {{listOfSoldMonthly[0].type}} | {{listOfSoldMonthly[0].year}}
                <br />
              </b>
              {{listOfSoldMonthly[0].describe}}
            </p>
          </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- modal album 10 -->
  <div class="modal fade" id="myModal10">
    <div
      class="modal-dialog modal-dialog-centered modal-xl modal-fullscreen-sm-down modal-dialog-scrollable"
      style="width: 600px"
    >
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Information</h4>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
          ></button>
        </div>

        <!-- Modal body -->
        <div class="modal-body row text-start">
          <div class="img col-md-4 col-12">
            <img
              ng-src="{{listOfSoldMonthly[1].image}}"
              alt=""
              width="1920px"
              class="img-fluid"
            />
          </div>
          <div class="describe col-md-8 col-12">
            <p>
              {{listOfSoldMonthly[1].name}} <br />
              <b>
                {{listOfSoldMonthly[1].category}} |
                {{listOfSoldMonthly[1].type}} | {{listOfSoldMonthly[1].year}}
                <br />
              </b>
              {{listOfSoldMonthly[1].describe}}
            </p>
          </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
