<style>
  .formlas {
    margin-left: 10%;
    width: 80%;
    justify-content: center;
  }
  .logInSignUpContent {
    background-image: linear-gradient(
      45deg,
      rgb(253, 158, 255),
      rgb(155, 237, 255)
    );
    min-height: 60vh;
  }
  .left,
  .right {
    max-width: 500px;
  }

  .in_1 {
    border: 2px solid deepskyblue;
    background-color: white;
    margin: 10px 0 20px 0;
  }

  .up_1 {
    border: 2px solid deepskyblue;
    background-color: deepskyblue;
    margin: 10px 0 20px 0;
  }
  .in_2 {
    border: 2px solid deepskyblue;
    background-color: deepskyblue;
    margin: 10px 0 20px 0;
  }
  .up_2 {
    border: 2px solid deepskyblue;
    background-color: white;
    margin: 10px 0 20px 0;
  }

  input[type="text"] {
    margin: 5px 0 5px 0;
    width: 92%;
  }

  button[type="submit"] {
    background-color: rgb(2, 126, 167);
    color: white;
    border-radius: 5px;
    border: none;
    margin: 5px 0 5px 0;
    padding: 5px 10px 5px 10px;
  }
</style>
<div class="container-fluid logInSignUpContent">
  <div class="formlas row" ng-style="form">
    <div class="left col-md-6 col-12 my-5 text-center">
      <form action="" class="form-control">
        <div class="row">
          <div class="col-6"><button class="in_1">LOG IN</button></div>
          <div class="col-6"><button class="up_1">SIGN UP</button></div>
        </div>

        <input type="text" class="form-control" placeholder="E-mail" ng-model="email"/>
        <input type="text" class="form-control" placeholder="Password" ng-model="pass"/>
        <div class="submit">
          <button type="submit" ng-click="LogIn">LOG IN</button>
        </div>
      </form>
    </div>
    <div class="right col-md-6 col-12 my-5 text-center">
      <form action="" class="form-control">
        <div class="row">
          <div class="col-6"><button class="in_2">LOG IN</button></div>
          <div class="col-6"><button class="up_2">SIGN UP</button></div>
        </div>
        <input type="text" class="form-control" placeholder="Username" ng-model="username"/>
        <input type="text" class="form-control" placeholder="E-mail" ng-model="emailSignUp"/>
        <input type="text" class="form-control" placeholder="Password" ng-model="passSignUp"/>
        <div class="submit">
          <button type="submit" ng-click="SignUp">SIGN UP</button>
        </div>
      </form>
    </div>
  </div>
</div>
